extends layout.pug

include utils.pug

block head
  title() Mediumverse
  link(rel='stylesheet' href='/stylesheets/index.css')
  link(rel='stylesheet' href='/stylesheets/display-story.css')
  script(src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous")

block content
    +validationErrorSummary(errors)
    div(id='story-page')
        div(id='title-container')
            div(id='story-title') #{story.title}
            div(id='story-category') #{story.Category.name}
            h3 Last updated: #{story.updatedAt.toLocaleDateString("en-US")}
        div(id='story-picture')
            img(src=story.imageURL)
        div(id='story-text') #{story.text}

        div(id='user-features')
            div(id='user-comments-div')
                button(id='show-comments') Comments

            if locals.authenticated && user.id === story.userId
                div(id='modify-story')
                    div(id='story-edit')
                        form(action=`/stories/edit/${story.id}`)
                            button(type='submit') Edit Story
                    div(id='story-delete')
                        form(action=`/stories/delete/${story.id}` method='post')
                            button(type='submit') Delete Story

            else if locals.authenticated && user.id !== story.userId
                    div
                        span(id="likes") #{storyLikes} people liked this!
                        button(type="click" id="likeButton" data-story-id=story.id) Like!
            //- ^^^^ Liking Stories ^^^^

            //- vvvvvv Liking Comments vvvvv
    div(id='comment-section' style='visibility: hidden')
        div(id='close-comments')
            div(id='close-comments-button-div')
                button(id='close-comments-button') X
        if locals.authenticated
            form(action=`/comments/create/${story.id}` method="post" id='create-comment-form')
                input(type='hidden', name='_csrf', value=csrfToken)
                +field(null, "text", null, "textarea", 'Enter comment text')
                button(type="submit" id='submit-comment-button') Add Comment

        each comment in storyComments
            div(id='user-comments' data-comment-id=comment.id)
                span(id='two') #{comment.User.username}
                div Posted: #{comment.createdAt.toLocaleDateString("en-US")}
                div(id='comment-body')
                    span(id='one') #{comment.text}
                div(id='comment-buttons-div')
                    if locals.authenticated && user.id !== comment.userId
                        span(id="commentLikes") #{commentLikes} people liked this!
                        button(type="click" class="commentlikeButton" data-comment-id=comment.id data-story-id=story.id) Like!
                    if locals.authenticated && user.id === comment.userId
                        input(type="button" name="show-edit" id=`show-edit-${comment.id}` value="Edit" class='comment-div-buttons')
                        form(action=`/comments/edit/${comment.id}` method="post" id=`edit-comment-form-${comment.id}` class='edit-form' hidden)
                            input(type='hidden', name='_csrf', value=csrfToken)
                            +field(null, "text", null, "textarea", 'Edit comment...')
                            button(type="submit" class='comment-div-buttons') Confirm
                            input(type="button" name="delete-comment" id=`${comment.id}` value="Delete" class='comment-div-buttons ')
                        //- form(action=`/comments/delete/${comment.id}` method='post' id=`delete-comment-form-${comment.id}` hidden)
                        //-     button(type='submit' class='comment-div-buttons') Delete

    script(src="/javascripts/edit-story.js" type="module")
    script(src="/javascripts/display-story.js" type="module")
    script(src="/javascripts/display-comments.js" type="module")
