extends layout.pug

append head
	//- add page specific styles by appending to the head
	//- title Mediumverse
	link(rel="stylesheet" href="/stylesheets/index.css")
	link(rel="stylesheet" href="/stylesheets/homepage.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	div(class="banner")
		img(src="/images/iron-man-hero.jpeg" class="hero-image")
		div(class="welcome-block")
			div(class="welcome-title") Avengers Assemble!
			div(class="welcome-text") Times have changed, but the stories only get better! Explore unique perspectives from beings all over the multiverse and 
					| learn what they have to say about a wide range of topics. Get started today!
	
	div(class="homepage-body")
		div(class="latest-stories-list")
			div(class="latest-stories-title") Latest Stories
			each story in stories
				div(class="story" href=`/stories/${story.id}`)
					a(href=`/stories/${story.id}`)
						div(class='story-picture')
							img(src=story.imageURL height="100" width="auto" href= `/${story.userId}`)
						div(class="story-title") #{story.title}
		div(class="follows")
				if locals.authenticated
					div(class="follows-title") People You're Following
					each person in sendPeople
						div(class="userFollowing" href=`/${person.dataValues.id}`)
							a(href=`/${person.dataValues.id}`)
								img(src="/images/avengers logo.png" class="otherUserImg")
								p(class="otherUserLabel") #{person.dataValues.username}

	footer(class="footerContainer")
		div(class="person")
			p(class="name") Icarus Buckhold
			a(class="icons fab fa-linkedin" href='https://www.linkedin.com/in/icarus-buckhold/')
			a(class="icons fab fa-github-square" href='https://github.com/ibuckhold')
		div(class="person")
			p(class="name") Junaid Maknojia
			a(class="icons fab fa-linkedin" href='https://www.linkedin.com/in/junaidmaknojia/')
			a(class="icons fab fa-github-square" href='https://github.com/junaidmaknojia')
		div(class="person")
			p(class="name") Marc Carlson
			a(class="icons fab fa-linkedin" href='https://www.linkedin.com/in/marc-carlson/')
			a(class="icons fab fa-github-square" href='https://github.com/Mcarlson30')
		div(class="person")
			p(class="name") Min Ki Kim
			a(class="icons fab fa-linkedin" href='https://www.linkedin.com/in/min-ki-kim-34888a156/')
			a(class="icons fab fa-github-square" href='https://github.com/minkikim98')

