extends layout.pug

block head
  title Mediumverse
  link(rel='stylesheet' href='/stylesheets/index.css')
  link(rel='stylesheet' href='/stylesheets/user-stories.css')
  script(type="module" src="/javascripts/follows.js")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Marvel:wght@700&family=Open+Sans&display=swap" rel="stylesheet")
  script(src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous")

block content
    div(id='followDiv')
        button(class="navButton" id="followButton" type="click" data-other-user-id=otherUser) Follow
    div(class="following-Container")
        if sendPeople.length > 0
            h2 People They're Following
            each person in sendPeople
                div(class="userFollowing" href=`/${person.dataValues.id}`)
                    a(href=`/${person.dataValues.id}`)
                        img(src="/images/avengers logo.png" class="otherUserImg")
                        p(class="otherUserLabel") #{person.dataValues.username}
    div(id="story-preview-container")
        each story in userStories
            div(class="story-preview")
                a(href=`/stories/${story.id}` class="story-title") #{story.title}
                p(class="created-info") Published on: #{story.createdAt.toLocaleDateString("en-US")}
                img(class="story-preview-image" src=story.imageURL)
                p #{story.text.length > 200 ? story.text.substring(0, 200) + "..." : story.text}
                if locals.authenticated && user.id === story.userId
                    div(class="story-preview-buttons")
                        form(action=`/stories/edit/${story.id}`)
                            button(type='submit') Edit
                        form(action=`/stories/delete/${story.id}` method='post')
                            button(type='submit') Delete
